  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "${FRONTEND_PORT:-{{ FRONTEND_PORT }}}:{{ FRONTEND_PORT }}"
    networks:
      - {{ DOCKER_NETWORK }}
    depends_on:
      - backend

